---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Features from "@components/features.astro";
import Hero from "@components/hero.astro";
import Logos from "@components/logos.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="">
  <Container>
    <Hero />
    <Features />
    <section>
      <h2>Get Involved</h2>
      <p>Whether you’re looking for interpreting services or want to learn more about sign language, we’re here to help! Explore our resources, attend our workshops, or contact us for more information.</p>
  </section>
    <!-- <Logos /> -->
    <Cta />
  </Container>
</Layout>
