---
import Icon from "./icon.astro";
---

<footer class="my-20">
  <div class="text-center mt-6 mb-6">
    <!-- <div class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">
      Connect with us!
    </div> -->
    <div class="flex mt-3 gap-5 items-center justify-center">
      <a href="https://www.instagram.com/communicationlinkllc/" target="_blank" title="Instagram"><div class="w-8 h-8 shrink-0">
        <Icon class="text-black" name="bi--instagram" />
      </div></a>
      <a href="https://twitter.com/CommLinkLLC" target="_blank" title="Twitter - X"><div class="w-8 h-8 shrink-0">
        <Icon class="text-black" name="bi--twitter-x" />
      </div></a>
      <a href="https://facebook.com/61566081398217" target="_blank" title="Facebook"><div class="w-8 h-8 shrink-0">
        <Icon class="text-black" name="bi--facebook" />
      </div></a>
    </div>
  </div>
  
  <p class="text-center text-sm text-slate-500">
    Copyright Â© {new Date().getFullYear()} Communication Link LLC. All rights reserved.
  </p>
  <!--
    Can we ask you a favor ðŸ™
    Please keep this backlink on your website if possible.
    or Purchase a commercial license from https://web3templates.com
  -->
  <p class="text-center text-xs text-slate-500 mt-1">
    Site Template by <a
      href="https://web3templates.com"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Web3Templates
    </a>
  </p>
</footer>
